binds {
    Super+K { spawn "kate"; }
    Super+T { spawn "kitty" "--config" "@HOME@/.config/alice-rice/kitty.conf"; }
    Super+B { spawn "chromium"; }
    Super+O { spawn "obs"; }
    Super+D { spawn "dolphin"; }
    Super+C { spawn "discord"; }

    // Steam: Super+C was already taken by Kitty.
    Super+Shift+C { spawn "steam"; }
    Super+S { screenshot; }
}
