input {
    keyboard {
        numlock
    }

    touchpad {
        tap
        // natural-scroll  // Commented out to flip scroll direction back to standard
        click-method "button-areas"
        tap-button-map "left-right-middle"
    }

    focus-follows-mouse max-scroll-amount="0%"
}
