binds {
    // Focus
    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }

    // Move columns
    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Right { move-column-right; }

    /// Switch workspaces
    Mod+Shift+Up   { focus-workspace-up; }
    Mod+Shift+Down { focus-workspace-down; }

    // Switch workspaces with two-finger trackpad scrolling
    Mod+TouchpadScrollUp   cooldown-ms=150 { focus-workspace-up; }
    Mod+TouchpadScrollDown cooldown-ms=150 { focus-workspace-down; }

    // Jump to ends
    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }

    // Move column to ends
    Mod+Shift+Home { move-column-to-first; }
    Mod+Shift+End  { move-column-to-last; }

    // Column manipulation
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    // Window controls
    Mod+Q       { close-window; }
    Mod+F       { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    Mod+Space { toggle-window-floating; }

    Mod+E { quit; }

    // Brightness
    XF86MonBrightnessUp {
        spawn "brightnessctl" "set" "5%+";
    }

    XF86MonBrightnessDown {
        spawn "brightnessctl" "set" "5%-";
    }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"; }
    XF86AudioMute allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }

}
