[Desktop Entry]
Type=Application
Name=Quick Settings
Exec=@HOME@/.local/bin/theme-settings-launch
Terminal=false
Categories=Settings;
Icon=@HOME@/.local/share/icons/hicolor/16x16/apps/quick-settings.png
