[Desktop Entry]
Type=Application
Name=Theme Settings
Exec=@HOME@/.local/bin/rice-colors-launch
Terminal=false
Categories=Settings;
Icon=@HOME@/.local/share/icons/hicolor/16x16/apps/theme-settings.png
